.home__container {
    min-height: 100vh;
    max-height: auto;
    background: radial-gradient(circle at 50% 0, #df49170e, rgba(255, 0, 0, 0) 70.71%), radial-gradient(circle at 6.7% 75%, #0069ba36, rgba(0, 0, 255, 0) 70.71%), radial-gradient(circle at 93.3% 75%, #f3bb2c34, rgba(0, 255, 0, 0) 70.71%) rgba(245, 245, 220, 0.658);
}