.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background-color: rgba(188, 188, 188, 0.91) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Content {
    padding: 9px !important;
    border: none !important;
    position: relative !important;
    box-shadow: 0px 15px 39px -25px #757575;
    border-radius: 20px !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
}

.ReactModal__Overlay--before-close {
    opacity: 0 !important;
}